<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <system.webServer>
    <rewrite>
      <rules>
                <clear />
                <rule name="Html page" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^html/(.*).html?$" ignoreCase="true" />
                    <action type="None" />
                </rule>
                <rule name="Images" stopProcessing="true">
                    <match url="^images/(.*)(.jpg|.jpeg|.png|.gif|.svg)$" ignoreCase="true" />
                    <action type="None" />
                </rule>
                <rule name="JS page" stopProcessing="true">
                    <match url="^js/(.*).js$" ignoreCase="true" />
                    <action type="None" />
                </rule>
                <rule name="css page" stopProcessing="true">
                    <match url="^css/(.*).css$" ignoreCase="true" />
                    <action type="None" />
                </rule>
				<rule name="login page" stopProcessing="true">
                    <match url="^login.php" ignoreCase="true" />
                    <action type="None" />
                </rule>
                <rule name="Rewrite 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="altUrlRouter.php?fullRequest={R:1}" appendQueryString="true" />
                </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>


